body {
  min-width: 960px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background: #000000 url("../img/body-bg.jpg") no-repeat center top;
}

.inner-page {
  color: #000000;
  background: #f8f3f0 url("../img/pattern-white.jpg") repeat;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*header*/
.main-header {
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;
}

.inner-page .main-header {
  margin-bottom: 55px;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation .logo-inner {
  float: left;
  width: 111px;
  height: 20px;
  padding-top: 22px;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

/*index*/
.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  color: #000000;
  background: #f8f5f2 url("../img/pattern-white.jpg");
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

/*catalog*/
.inner-page-title {
  margin-bottom: 55px;
}

.inner-page-title h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  margin-right: 40px;
}

.content-left {
  float: left;
  width: 220px;
}

fieldset {
  border: none;
  margin-bottom: 35px;
}

.content-left label {
  display: block;
  padding: 10px;
}

.content-right {
  float: right;
  width: 700px;
}

.content-main {
  font-size: 0;
}

.content-item {
  display: inline-block;
  width: 220px;
  min-height: 290px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  vertical-align: top;
}

.content-item:nth-child(3n) {
  margin-right: 0;
}

.paginator {
  margin: 0;
  margin-top: 45px;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.paginator li {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 7px;
  font-size: 14px;
  vertical-align: top;
}

/*catalog-item*/
.photo-gallery {
  float: left;
  width: 460px;
}

.photo-gallery-image {
  width: 460px;
  margin: 0;
  margin-bottom: 20px;
}

.photo-gallery-block {
  font-size: 0;
}

.photo-gallery-block img {
  margin-right: 20px;
  font-size: 16px;
}

.photo-gallery-block img:last-child {
  margin-right: 0;
}

.description {
  float: right;
  width: 390px;
  margin-top: 25px;
}

.description-goods {
  margin-bottom: 35px;
}

.description-price {
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 0;
}

/*footer*/
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/footer-bg.jpg");
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

/*modal-content*/
.modal-content {
  display: none;
}

.modal-content-map {
  display: none;
}
